body {
  background-color: red;
}

li {
  font-size: 24px;
  list-style: none;
  margin: 5px;
  background: yellow;
}

.create_burger {
  width: 100%;
  display: inline-block;
}

.list-title-div {
  margin: 30px;
}